h1 {
    font-family: 'Lobster', cursive;
    font-size: 80px;
    color: #003a50;
    text-align: center;
    margin-bottom: 30px;
    background-color: #8ac7c0;
}

.list-group-item {
    font-family: 'Special Elite', cursive;
    color: #003a50;
    background-color:#FFCDAC;
    font-size: 13px;
    
    

}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
    font-weight: bolder;
    margin-bottom: 40px;
    font-size: 30px;
}

body {
    background-color: #d8a7b1;
}

.museum-des {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
    font-size: 20px;
}
.museum-description {
    font-style: oblique;
    margin-left: 35px;
}
.museum-review {
    font-style: oblique;
    margin-left: 35px;
}
.museum-plan {
    font-style: oblique;
    margin-left: 35px;
}


.no-review {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
    font-size: 20px;

}

img {
    border-radius: 8px;
    
    
}

.review {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
    font-size: 20px;
}

.museum-hours {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
}

.museum-address {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
}

.museum-homepage {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
    font-size: 20px;
    font-weight: bolder;
}

#search-bar {
    
    float: right;
}

.create-user {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
    font-size: small;
    margin-top: 50px;
}

.create-review {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
    font-size: small;
    margin-top: 50px;
}

.edit-btn {
    display: inline-block;
    padding: 1px 10px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8Ac7c0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 10px;
}
.edit-btn:hover {background-color: #4a7684}
.edit-btn:active {background-color: #4a7684;
    box-shadow: 0 5px #666;
    transform: translateY(4px);}

.delete-btn {display: inline-block;
    padding: 1px 10px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(234, 152, 224);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 10px;

}
.delete-btn:hover {background-color: rgb(188, 120, 180)}
.delete-btn:active {background-color: rgb(188, 120, 180);
    box-shadow: 0 5px #666;
    transform: translateY(4px);}


.likes-button {
    display: inline-block;
    padding: 1px 10px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8Ac7c0;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 10px;

}
.likes-button:hover {background-color: #4a7684}
.likes-button:active {background-color: #4a7684;
    box-shadow: 0 5px #666;
    transform: translateY(4px);}

.dislikes-button {
    display: inline-block;
    padding: 1px 10px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(234, 152, 224);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 10px;

}
.dislikes-button:hover {background-color: rgb(188, 120, 180)}
.dislikes-button:active {background-color: rgb(188, 120, 180);
    box-shadow: 0 5px #666;
    transform: translateY(4px);}


.rev-submit {
    display: inline-block;
    padding: 1px 10px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(234, 153, 153);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 10px;
}
.rev-submit:hover {background-color: rgb(218, 89, 89);}
.rev-submit:active{background-color: rgb(218, 89, 89);
    box-shadow: 0 5px #666;
    transform: translateY(4px);}

.create-rev-submit  {
    display: inline-block;
    padding: 1px 10px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(234, 153, 153);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 10px;
}

.create-rev-submit:hover {background-color: rgb(218, 89, 89);}
.create-rev-submit:active {background-color: rgb(218, 89, 89);
    box-shadow: 0 5px #666;
    transform: translateY(4px);}


.user-submit  {
        display: inline-block;
        padding: 1px 10px;
        font-size: 10px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: rgb(234, 153, 153);
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        margin-left: 10px;
    }
    
.user-submit:hover {background-color: rgb(218, 89, 89);}
.user-submit:active {background-color: rgb(218, 89, 89);
        box-shadow: 0 5px #666;
        transform: translateY(4px);}

.rev-form {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
    font-size: small;
    margin-top: 20px;
    margin-bottom: 20px;

}