h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    color: #003a50;
    text-align: center;
}

.museum {
    font-family: 'Ubuntu', sans-serif;
    color: #003a50
    

}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
}

body {
    background-color: #d8a7b1;
}

.museum-des {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: left;
    font-size: small;
}

.no-review {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;

}

img {
    border-radius: 8px;
    
}

.review {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
}

.museum-hours {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
}

.museum-address {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
}

.museum-homepage {
    font-family: 'Montserrat', sans-serif;
    color: #003a50;
    text-align: justify;
}